vendor/
node_modules/
.env
*.pem
docker/keys/
.idea/
.DS_Store
dist/
.next/
*.log
.phpunit.cache
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
/src/backend/.phpunit.result.cache
/docs/
/.serena/
